/* Reset some default styles to ensure consistency */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Apply a background color to the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Define the container for the sidebar and content */
.container {
    display: flex;
    min-height: 100vh;
}

/* Style the sidebar */
.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #919191;
    color: #fff;
    padding: 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.image-container {
    background-color: #919191; /* grey color */
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 5px; /* Push the container 5 pixels to the left */
    margin-left: -5px;
  }

.sidebar img {
    display: block;
    margin: 0 auto 20px; /* Center the image and add some spacing */
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
    margin-left:5px;
}

.sidebar a.active {
    background-color: #555; /* Highlight the active link */
}

/* Style the content area */
.content {
    flex: 1; /* Take up remaining width in the container */
    padding: 20px;
}

.circular-frame {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #333;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  margin: 0 auto 20px;
}
.circular-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[class="David Jordan"] {
    font-weight: bold;
  }

.content a:visited {
    color: #004276;
  }

  .horizontal-line {
    width: 100%;
    height: 2px; /* adjust for desired thickness */
    background-color: grey; /* adjust for desired color */
    margin-top: 50px; /* adjust for desired position */
}

.google-scholar-link {
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.google-scholar-link i {
    margin-right: 5px;
    font-size: 24px; /* adjust size as needed */
}

.section-title {
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    margin-top: 10px;
}
.entry {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

h2 {
    border-bottom: 2px solid black;
}

div i.fas {
    margin-right: 8px;
}

.outer-div {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
  }

  .content-area {
    width: 100%;
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    max-height: 0;
  }
  .content-area p {
    font-size: 1em;
    line-height: 1.6;
    margin: 10px 20px;
    text-align: justify;
  }

  .expandable {
    padding: 10px 20px;
    background-color: #eee;
    border: 1px solid #ddd;
    margin: 5px 0;
    user-select: none;
    font-size: 1.5em;
  }

  .expandable:hover {
    cursor: pointer;
    background-color: #ddd;
  }

  /* This max-height is arbitrary. It needs to be larger than the content's natural height. */
  .content-area.expanded {
    padding: 20px;
    max-height: 2000px; /* Adjust this value based on the content's height */
  }

  .collapse-button {
    display: block;
    padding: 5px 10px;
    background-color: #d9534f;
    color: white;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-top: 10px;
  }

  .collapse-button:hover {
    background-color: #c9302c;
  }


/* Responsive design for screens smaller than 768px (typical mobile phones) */
@media (max-width: 768px) and (orientation: portrait) {
    .container {
        flex-direction: column; /* Stack sidebar and content on top of each other */
    }

    .sidebar {
        width: 100%; /* Make the sidebar take the full width of the screen */
        max-height: 45vh;
        padding: 0px; /* Reduce padding for smaller screens */
        margin-right:5px;
    }
    .outer-div {
      position: relative;
    }
    .sidebar > a {
      position: sticky;
      top: 0;
      background-color: #919191;
      z-index: 1;
    }
    .sidebar img {
        margin-bottom: 10px; /* Adjust spacing */
    }

    .content {
        flex: 1; /* Take up remaining width in the container */
        padding: 20px;
    }
}
