@media (min-width: 1000px) {
    d-contents {
      align-self: start;
      grid-column-start: 1;
      grid-column-end: 4;
      justify-self: end;
      padding-right: 3em;
      padding-left: 2em;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: rgba(0, 0, 0, 0.1);
    }
  }